<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ingrid.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ingrid.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ingrid.My.MySettings>
            <setting name="SLFBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PRODUCTIONMODE" serializeAs="String">
                <value>True</value>
            </setting>
        </Ingrid.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Ingrid.My.MySettings>
            <setting name="URL_Paypal" serializeAs="String">
                <value>https://www.paypal.me/ardhagp</value>
            </setting>
            <setting name="URL_Wiki" serializeAs="String">
                <value>https://ardhagp.github.io/ingrid/</value>
            </setting>
        </Ingrid.My.MySettings>
    </applicationSettings>
</configuration>
