<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ingrid.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ingrid.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ingrid.My.MySettings>
            <setting name="SLFBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PRODUCTIONMODE" serializeAs="String">
                <value>True</value>
            </setting>
        </Ingrid.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Ingrid.My.MySettings>
            <setting name="URL_Paypal" serializeAs="String">
                <value>https://www.paypal.me/ardhagp</value>
            </setting>
            <setting name="URL_Wiki" serializeAs="String">
                <value>https://github.com/ardhagp/ingrid/wiki/01.-Home</value>
            </setting>
            <setting name="URL_Saweria" serializeAs="String">
                <value>https://saweria.co/ardhagp</value>
            </setting>
            <setting name="URL_Home" serializeAs="String">
                <value>https://ardhagp.github.io/ingrid</value>
            </setting>
            <setting name="URL_MainframeBackground" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/background-all-platforms/waving-red-band.png</value>
            </setting>
            <setting name="URL_Logo_EPLS" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-EPLS.svg</value>
            </setting>
            <setting name="URL_Logo_LOGIN" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-LOGIN.svg</value>
            </setting>
            <setting name="URL_Logo_CCIN" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-CCIN.svg</value>
            </setting>
            <setting name="URL_Logo_CDIN" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-CDIN.svg</value>
            </setting>
            <setting name="URL_Menu_UPDATE" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-UPDATE.svg</value>
            </setting>
            <setting name="URL_Logo_EDIT" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-EDIT.svg</value>
            </setting>
            <setting name="URL_Image_OPENCOMMAND" serializeAs="String">
                <value>https://ingrid-blob.s3.us-west-004.backblazeb2.com/app-assets/media/component-image-all-platforms/svg-OPENCOMMAND.svg</value>
            </setting>
        </Ingrid.My.MySettings>
    </applicationSettings>
</configuration>
