<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>1283</ApplicationRevision>
    <ApplicationVersion>2.10.20167.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://iupdt.my.id/beta/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\NO CLOUD\IPUDT\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Resources\catalog.db">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\dev_catalog.db">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\errlog.db">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\ingrid_icon_2.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="zh-Hans\Microsoft.CodeAnalysis.resources.dll">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Auto</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="zh-Hans\Microsoft.CodeAnalysis.VisualBasic.resources.dll">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Auto</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="zh-Hant\Microsoft.CodeAnalysis.resources.dll">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Auto</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="zh-Hant\Microsoft.CodeAnalysis.VisualBasic.resources.dll">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Auto</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.14 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>